language: objective-c
cache: cocoapods
xcode_sdk: iphonesimulator9.0
osx_image: xcode8.2
xcode_project: Lighthouse Camera.xcodeproj
xcode_scheme: Lighthouse Camera Travis Tests

before_install:
  # Our opencv-ios.zip file exceeds the maximal size of binaries, so we're using
  # git-lfs, which needs to be installed/executed manually.
  - brew install git-lfs
  - git lfs track 3rdparty/opencv-ios.zip
  - git lfs pull

before_script:
  # Make outputs more readable.
  - gem install xcpretty-travis-formatter
  # Install OpenCV binary. Requires git-lfs.
  - unzip 3rdparty/opencv-ios.zip -d Lib/

# The default script uses xctool, which doesn't work anymore. Overriding.
script:
  - xcodebuild build -project "Lighthouse Camera.xcodeproj" -scheme "Lighthouse Camera Travis Tests" -sdk iphonesimulator10.2 ONLY_ACTIVE_ARCH=NO | xcpretty -f `xcpretty-travis-formatter` && exit ${PIPESTATUS[0]}

